
<div class="container-fluid">
  <div class="jumbotron">
      <h1 class="display-4 text-center animated slideInRight">~ About GitHub Search ~</h1>
      <hr class="my-4">
      <div class="para">
          <p>The app basically lets the user to search their github user names and the app gives them information about their github account which includes their followers, the people they are following, the number of repositories and their names as written
              on github. All they have to do is type and wait for the magic!</p>
      </div>
  </div>
</div>
