<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <a appHighlight class="navbar-brand" href="/">
    <img src="../assets/githublogo.jpg" height="30" alt="github logo" routerLink="/home">Github Search App
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a appHighlight class="nav-item nav-link animated bounce infinite" routerLink="repos" routerLinkActive='active'>Search for Users Repositories</a>
      </div>
    </div>
  </nav>
