.btn {
    margin: 10px;
  }
  body{
    text-decoration-color: white;
    background: url(assets/landingpage.jpg);
    background-position: 0 0;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Manjari', sans-serif;
  }
